<div id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-6 col-lg-4">
                <img src="assets/me-nobr2.png" alt="">
            </div>
            <div class="col-sm-9 col-md-6 col-lg-8">
                <h1 class="sub-title">About Me</h1>
                <p>I’m a gym rat by early morning, a sales representative by day, a software engineering student by evening, and a bug bounty hunter by night... unless I'm gaming, then I'm just a gamer by night. Now back to the bugs; No, I don’t get paid to hunt bugs — but I do spend way too much time finding the ones I accidentally create.<br><br>

                    By day, I’m all about selling things (mostly tech stuff, but I’m really good at selling people on random ideas too, like what if you could just take a picture of your food and an app will tell you all the macros). By evening, I’m diving into code and school like it’s my second home, learning new languages (the kind computers speak), and working towards my goal of becoming a software engineer.<br><br>
                    
                    I’m fluent in Python, Java, TypeScript, SQL, and HTML/CSS, though I admit, I still haven’t figured out how to make my computer do my laundry. Oh, and I can speak very little spanish (muy poquito).<br><br>
                    
                    I’m also AWS Cloud Practitioner certified — because I like to make things disappear into the cloud, even though I’m still waiting for the day when all my problems will just vanish there.<br><br>
                    
                    Check out my projects, they’re like my digital offspring — full of potential but still needing a bit of TLC.<br><br>
                    
                    Want to collaborate, share a bug joke, or just talk about why semicolons are the most misunderstood punctuation? Let’s chat!</p>
                <div class="tab-titles">
                    <button class="tab-links active-link" (click)="opentab('skills', $event)">Skills</button>
                    <button class="tab-links" (click)="opentab('experience', $event)">Experience</button>
                    <button class="tab-links" (click)="opentab('education', $event)">Education</button>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>UI/UX</span><br>Designing Web/App interfaces</li>
                        <li><span>Web Developement</span><br>Web app Developement</li>
                        <li><span>Vibes</span><br>Great at bringing good vibes</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span>2021 - Current</span><br>District Manager at ADP</li>
                        <li><span>2021 - 2022</span><br>Assistant General Manager at BoxingInc</li>
                        <li><span>2019 - 2021</span><br>Kickboxing instructor to General Manager at iLoveKickboxing</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>WGU</span><br>B.S. Software Engineering (Graduating in 2025)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
