.portfolio-div {
    padding: 80px 25px;
}

p { 
    color: #ababab;
    padding-top: 15px;
}

h1 {
    padding-top: 25px;
    font-size: 60px;
    font-weight: 600;
    color: #C4EAF2;
}

.link {
    color: #248EA6;
}

.calc-div {
    display: flex;
    justify-content: center;
}