<div class="container-fluid bg-3 text-center portfolio-div">    
    <h1 class="margin">Portfolio/Projects</h1><br>
    <div class="row">
      <div class="col-sm-4">
        <p>An interactive map application built using an SVG image and the World Bank public API. Users can click on different countries to view relevant information about each one.</p>
        <a href="assets/worlds-map.zip" download class="link">Download link</a>
        <img src="assets/map-imagev2.jpg" class="img-responsive margin" style="width:100%" alt="World Map Project Image">
      </div>
      <div class="col-sm-4"> 
        <p>A simple calculator using Angular's data binding, along with HTML, CSS, and TypeScript to create a responsive and interactive user experience.<br>Give it a try!</p>
        <div class="calc-div"><app-calculator></app-calculator></div>
      </div>
      <div class="col-sm-4">
        <p>This is a site I created for a friend. This site was created on Wordpress and used the Astra theme. The site was never finished due to my friend putting his start up on hold.</p>
        <a href="https://hissecretapparell.com/" target="_blank" class="link">Visit site</a>
        <img src="assets/hissecretapparel.jpg" class="img-responsive margin" style="width:100%" alt="HISSECRETAPPAREL website">
      </div>
    </div>
  </div>